codecarbon[carbonboard]
dash==2.14.2
dash-bootstrap-components==1.4.1
dash_core_components==2.0.0
dash_html_components==2.0.0
dash-table==5.0.0
plotly==5.18.0
netCDF4
fire
optuna
matplotlib
scipy
pandas
scikit-learn
torch
torchvision
xarray
gdown
